/*********************/
/* FOOTER */
/*********************/
footer{
    background-color: white;
    padding-top: 40px;
}
.pie-de-pagina{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}
.pie-de-pagina h5{
    font-size: 16px;
    text-align: center;
}
.pie-de-pagina p{
    font-size: 12px;
    color: var(--color-gris-oscuro);
    text-align: center;
}
.credit-card, .gift, .user-shield{    
    text-align: center;
    font-size: 2em;
    color: var(--color-celeste);
    margin-bottom: 10px;
}
.copyright{
    text-align: left;
    font-size: 12px;
    color: var(--color-gris-oscuro);
    margin-left: 15px;
    padding-bottom: 10px;
}